<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
            <h1>Welcome to my first site!</h1>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <!--This is C# to get the current year-->
            &copy;@DateTime.Today.Year
        </footer>
    </body>
</html>